#content {
    background-color: black;
}

#main {
    text-align: center;
    margin: 0 auto;
    background-color: white;
    width: 300px;
    border-radius: 20px;
    overflow: hidden;
}


#footer-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: rgb(62, 96, 209);
}